<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DBP - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta name="theme-color" content="#712cf9">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <header class="p-3" style="background-color: #3d195b;">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
            <ul class="nav col-12 col-lg mb-2 justify-content-center mb-md-0">
                <li class="nav-item mx-auto">
                    <a href="{{ url_for('home_page') }}" class="nav-link px-2 text-secondary">Home</a>
                </li>
                <li class="nav-item mx-auto">
                    <a href="{{ url_for('teams_page') }}" class="nav-link px-2 text-white">Teams</a>
                </li>
                <li class="nav-item mx-auto">
                    <a href="{{ url_for('players_page') }}" class="nav-link px-2 text-white">Players</a>
                </li>
                <li class="nav-item mx-auto">
                    <a href="{{ url_for('games_page') }}" class="nav-link px-2 text-white">Games</a>
                </li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search" onkeyup="search()" id="searchbar">
            </form>
        </div>
    </div>
  </header>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
    <script>
        var myCarousel = document.getElementById("slider1");

        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 3000,
            wrap: true,
            keyboard: false,
            pause: 'hover',
            touch: true
        });

        document.getElementById("prev").addEventListener("click", function() {
        carousel.prev();
        // carousel.next();
        // carousel.pause();
        // carousel.cycle();
        });
    </script>

    <!--<script src="/static/js/script.js"></script>-->

    <footer>
        <div class="container">
            <footer class="py-3 my-4">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{{ url_for('home_page') }}" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('teams_page') }}" class="nav-link px-2 text-muted">Teams</a></li>
                <li class="nav-item"><a href="{{ url_for('players_page') }}" class="nav-link px-2 text-muted">Players</a></li>
                <li class="nav-item"><a href="{{ url_for('games_page') }}" class="nav-link px-2 text-muted">Games</a></li>
              </ul>
              <p class="text-center text-muted">&copy; 2023 Database Systems Project</p>
            </footer>
          </div>
    </footer>
</body>

</html>