{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h2 class="text-center">Login</h2>
    <div class="container w-25">
        <form action="" method="post" name="login">
        {{ form.csrf_token }}

            <div class="row mb-3">
                <div>
                    {{ form.username(required=True, autofocus=True, class='form-control', placeholder='username') }}
                </div>
                {% for error in form.username.errors %}
                <p>
                    {{ error }}
                </p>
                {% endfor %}
            </div>

            <div class="row mb-3">
                <div>
                {{ form.password(required=True, class='form-control', placeholder='password') }}
                </div>
                {% for error in form.password.errors %}
                <p>
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <button class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
{% endblock %}