{% extends "layout.html" %}
{% block title %}Player list{% endblock %}
{% block content %}
    <h1 class="title">Players</h1>

    {% if players %}
    <form action="" method="post" name="player_list">
      <table class="table is-striped is-fullwidth">
        {% for player_key, player in players %}
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" name="player_keys" value="{{ player_key }}"/>
            </label>
            <a href="{{ url_for('player_page', player_key=player_key) }}">
              {{ player.name }}
              {% if player.age %} ({{ player.age }}) {% endif %}
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-danger is-small">Delete</button>
        </div>
      </div>
    </form>
    {% endif %}
{% endblock %}